* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Luxurious Script", cursive;
  font-family: "Merriweather", serif;
  background-color: #ffffff;
}

form {
  padding: 0px 10px 5px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

fieldset {
  border: 0;
}

header {
  background: linear-gradient(#2bc0e4, #eaecc6);
  color: white;
  padding: 20px;
  font-size: 26px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container {
  margin: 15px;
}

.form-row {
  overflow: hidden;
}

#contact {
  margin-top: 20px;
}

legend {
  display: none;
}

h3 {
  color: #2d3945;
  font-family: "Patrick Hand", cursive;
  font-size: 24px;
}

.signup {
  text-align: center;
  padding: 20px;
}

.signup p {
  padding: 8px 0px 15px 0px;
  color: #bec2c5;
  font-weight: bold;
}

hr.new1,
hr.new3 {
  background-color: #2d3945;
  height: 10px;
  border: 0;
  margin-bottom: 3px;
  border-radius: 3px;
  background: linear-gradient(#1fa2ff, #12d8fa, #a6ffcb);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact-information {
  padding: 30px 0px 25px 0px;
}

.contact-information h3 {
  font-weight: bolder;
}

label {
  color: #55687a;
  margin: 20px 0px 10px 0px;
}

input {
  caret-color: auto;
  box-sizing: border-box;
}

input#zip-code {
  width: 25%;
  margin-left: 0;
}

input[id="phone-number"]::placeholder,
input[id="address"]::placeholder,
input[id="city"]::placeholder,
input[id="zip-code"]::placeholder,
input[id="state"]::placeholder,
input[id="full-name"]::placeholder,
input[id="email-address"]::placeholder,
textarea::placeholder {
  font-style: italic;
  font-size: 14px;
  text-align: left;
  margin-right: 20px;
  color: #a9a9a9;
  font-family: "Merriweather", serif;
  overflow: visible;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  background-color: #eff0f1;
  border-style: none;
  border-radius: 3px;
  padding-left: 5px;
}

input#full-name,
#email-address,
#phone-number,
#address,
#city,
#state,
#zip-code {
  margin: 15px 0px 10px 0px;
  height: 55px;
  font-size: 18px;
  width: 100%;
  overflow: hidden;
}

.newsletter-info {
  padding: 30px 0px 25px 0px;
  background: linear-gradient(#2bc0e4, #eaecc6);
}

.news {
  padding-left: 5px;
}

p {
  color: #55687a;
}

textarea {
  width: 100%;
  background-color: #e5e5e5;
  border-style: none;
  border-radius: 3px;
  width: 100%;
  margin: 15px 0px 5px 0px;
  padding: 3px 0px 80px 5px;
  resize: none;
  caret-color: auto;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 15px;
  align-items: center;
  height: 75px;
  font-size: 24px;
  font-family: "Merriweather", serif;
  background: linear-gradient(#2bc0e4, #eaecc6);
  color: white;
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

footer {
  margin-top: 35px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #bec2c5;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 250px;
}

button:hover,
input[type="radio"]:hover {
  cursor: pointer;
}

/*Media Query*/

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
    height: 70vh;
    margin: 0 auto;
  }
  .signup p br {
    display: none;
  }
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .form-row label {
    flex-basis: 25%;
  }
  .form-row input {
    flex-basis: 75%;
  }
  .form-row #zip-code {
    flex-basis: 25%;
  }

  label {
    padding-right: 50px;
    margin-top: 30px;
    width: 200px;
  }
  input#zip-code {
    width: 25%;
    margin-left: 0;
  }
  input#full-name,
  #email-address,
  #phone-number,
  #address,
  #city,
  #state,
  #zip-code {
    margin: 15px 0px 10px 0px;
    height: 55px;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
  }
  label[for="zip-code"] {
    width: 155px;
  }
  label[for="phone-number"] {
    padding-right: 40px;
  }
  footer {
    margin-top: 25px;
    padding-bottom: 200px;
  }
}
